/api/.vs
/api/CantinaManager/.vs/CantinaManager/FileContentIndex
/api/CantinaManager/.vs/CantinaManager
/api/CantinaManager/CantinaManager/obj
/api/CantinaManager/CantinaManager/bin
api/CantinaManager/CantinaManager/.env
/api/CantinaManager/.idea/.idea.CantinaManager/.idea
api/CantinaManager/CantinaManager/appsettings.json
